{:builds   {:app {:asset-path "/js"
                  :modules    {:app {:init-fn com.github.hindol.twenty-nine/init}}
                  :output-dir "public/js"
                  :target     :browser
                  :http-root  "public"
                  :release    {:output-dir "../docs/js"}}}
 :deps     true
 :dev-http {3000 "public"}}