{:builds {:app {:asset-path "/js"
                :modules    {:app {:init-fn com.github.hindol.twenty-nine/init}}
                :output-dir "resources/dev/js"
                :target     :browser
                :http-root  "resources/dev"
                :release    {:output-dir "resources/public/js"}}}
 :deps   {:aliases [:cljs :shadow-cljs]}}